<div class="div-pesquisa">
    <app-ons-pesquisa ComponentId="PesquisaPrincipal" PesquisaId="PesquisaPrincipal" ComponentTitulo="Usuários e Grupos">
    </app-ons-pesquisa>
    <br>
    <app-editar></app-editar>
    <app-ons-button PesquisaId="PesquisaPrincipal"></app-ons-button>
    <app-ons-grid PesquisaId="PesquisaPrincipal"></app-ons-grid>
    <app-ons-grid PesquisaId="PesquisaSecundaria"></app-ons-grid>
</div>