/* ::ng-deep .ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
  color: #1485f7 !important;
}
 */

.headersToBlue {
  ::ng-deep .ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    color: #396DCB !important;
  }
}
