<p-panel header="{{ComponentTitulo}}">
  <span class="label-pesquisar">PESQUISAR:</span>
  <div style="margin-bottom: 1em;">
    <div class="ui-fluid {{animateStringSimples}}" style="height:3em;">
      <input id="input" (keydown.enter)="pesquisar($event.target)" class="test" type="text" placeholder="Pesquisar..."
        pInputText [(ngModel)]="inputPesquisa" style="margin-bottom: 0.3em;">
      <div class="p-grid">
        <div class="p-col">
          <input id="input" (keydown.enter)="pesquisar($event.target)" class="test" type="text" placeholder="Lorem ipsum..."
            pInputText [(ngModel)]="inputPesquisa">
        </div>
        <div class="p-col">
          <input id="input" (keydown.enter)="pesquisar($event.target)" class="test" type="text" placeholder="Lorem ipsum..."
            pInputText [(ngModel)]="inputPesquisa">
        </div>
      </div>
    </div>
    <div class="ui-fluid div-pesquisa-avancada {{animateStringAvancada}}" style="height: 2em;">
      <input id="input-2" type="text" placeholder="Avançado..." pInputText [(ngModel)]="inputPesquisaAvancada">

    </div>
  </div>
  <p-button styleClass="pesquisa-avancada" label="{{btnPesquisaLabel}}" (click)="pesquisaAvancada()"></p-button>
</p-panel>
