/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~font-awesome/css/font-awesome.min.css';

@import 'onsScss/buttons';
@import 'onsScss/grid';
@import 'onsScss/pesquisa';
@import 'primeFlex.scss';

.show {
  opacity: 1 !important; //display: block;
}

.step {
  opacity: 0; //display: none;
  transition: .5s ease-in-out all;
}

.ui-panel.ui-widget {
  padding: .2em !important;
}

.ui-panel.ui-widget .ui-panel-titlebar {
  border-width: 0 0 1px 0;
  border-top: 4px solid #5889D7;
}

.ui-panel-title {
  color: #5889D9;
}

.ui-panel-titlebar {
  background-color: #ECF0FA;
  background: #ECF0FA;
}
