/* .btn-link {
  background-color: #f9c19b;
  border-color: #f8a56d;
  cursor: pointer !important;
} */

.onsBtn {
  justify-content: center !important;
  border-radius: 0 !important;
  border-width: 0px 1px 0px 0px !important;
}

.onsBtn:hover,
.onsBtn:active {
  background: #EF882A !important;
}

/* .btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  cursor: pointer;
} */

.flexivel {
  display: flex;
}

::ng-deep {
  .ui-toolbar {
    background: #ecf0f8;
    height: 50px;
    border-width: 0 0 1px 0;
    border-top: 4px solid #5889D7;
  }
}

.btn {
  border-color: #7292ae
}
