.headersToBlue {
  ::ng-deep .ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    color: #1485f7 !important;
  }
}


/* .grid-imgage-cell{
    left: 20px !important;
} */
.grid-image-header{
  border-left: none !important;
  left: 0px !important;
}
.span-grid-label{
  color: #588EDA;
  font-weight: bold;
  text-transform: uppercase;
}
.ag-cell{
  border-left: 1px dotted !important;
}
.ag-header-cell{
  border-left: 1px groove;
}
.ag-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaedf9+0,93b2e0+51 */
background: #eaedf9; /* Old browsers */
background: -moz-linear-gradient(top, #eaedf9 0%, #93b2e0 51%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #eaedf9 0%,#93b2e0 51%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #eaedf9 0%,#93b2e0 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaedf9', endColorstr='#93b2e0',GradientType=0 ); /* IE6-9 */

font-weight: bold !important;
font-size: 1.3em !important;

}
