.label-pesquisar {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  color: #5889D9;
  font-weight: bold;
  font-size: 0.8em;
}

.div-pesquisa {
  box-shadow: 0px 1px 2px 1px lightgrey;
}

.pesquisa-avancada:active {
  background: #EF882A !important;
  color: white !important;
}

.pesquisa-avancada {
  background: white !important;
  color: #EF882A !important;
  border: 1px solid #EF882A !important;
  margin-top: 10px;
}

.div-pesquisa-avancada {
  margin-top: 10px;
}

.hideAdvancedSearch {
  height: 0px !important;

  input {
    opacity: 0;
  }

  -webkit-animation: hideAdvancedSearchAnimate 1.5s ease 0s 1 normal;
  animation: hideAdvancedSearchAnimate 1.5s ease 0s 1 normal;
}

@-webkit-keyframes hideAdvancedSearchAnimate {
  0% {
    opacity: 1;
    height: 0px;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 0;
    height: 0px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hideAdvancedSearchAnimate {
  0% {
    opacity: 1;
    height: 50px;
    transform: scale3d(1, 1, 1);
  }

  60% {
    opacity: 0;
    height: 0px;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.showAdvancedSearch {
  display: block;

  width: 100%;

  input {
    opacity: 1;
  }

  -webkit-animation: showAdvancedSearchAnimate 1s ease 0s 1 normal;
  animation: showAdvancedSearchAnimate 1s ease 0s 1 normal;
}

@-webkit-keyframes showAdvancedSearchAnimate {
  0% {
    opacity: 0;
    height: 0px;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 1;
    height: 50px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes showAdvancedSearchAnimate {
  0% {
    opacity: 0;
    height: 0px;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 1;
    height: 50px;
    transform: scale3d(1, 1, 1);
  }
}
