.flexivel {
  display: flex;
}
::ng-deep {
  .ui-toolbar {
      background: #ecf0f8;
      height: 50px;
      border-width: 0 0 1px 0;
      border-top: 4px solid #5889D7;
  }
}

.btn {
  border-color: #7292ae
}



.btn:hover, .btn:active {
  background: #EF882A
}
