<p-toolbar>
  <div class="ui-toolbar-group-left flexivel">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngFor="let btnItem of comandBarSrv.ComandBarBtn">
      <button type="button" (click)="goto(btnItem)" class="btn onsBtn btn-link"><i class="{{btnItem.icone}}"></i>{{btnItem.nome}}</button>

      <!-- <button type="button" class="btn onsBtn btn-link"><i class="fa fa-plus"></i> Novo</button>
      <button type="button" class="btn onsBtn btn-link"><i class="fa fa-pencil-square-o"></i> Editar</button>
      <button type="button" class="btn onsBtn btn-link"><i class="fa fa-cog"></i> Permissão</button>
      <button type="button" class="btn onsBtn btn-link"><i class="fa fa-file"></i> Log</button>
      <button type="button" class="btn onsBtn btn-link"><i class="fa fa-download"></i> Exportar</button> -->
    </div>
  </div>
  <div class="ui-toolbar-group-right flexivel">
    <div class="ui-inputgroup">
      <input type="text" (ngModelChange)="filter($event)" placeholder="O que voce procura?" [(ngModel)]="filtro"
        pInputText>
    </div>
  </div>
</p-toolbar>
