<!-- Parte do Modal -->
<!-- [width]="objetosTela.width" -->
<p-dialog [(visible)]="editarSrv.displayModal" [modal]="true">
  <p-header class="headerRota" style="display: flex;align-items: center;">
    <span>
      <h5>
        {{editarSrv.titulo}}
      </h5>
    </span>
  </p-header>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Nome">
          <label for="float-input">Nome do Usuario</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.descricao">
          <label for="float-input">Descrição</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_GrupoInterno">
          <label for="float-input">Grupo Interno</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Email">
          <label for="float-input">Email do Grupo</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Origem">
          <label for="float-input">Origem do Grupo</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_DataCadastro">
          <label for="float-input">Data de Cadastro</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.politicasenha_Politicasenha">
          <label for="float-input">Politica de Senha</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.politicasenha_Alteracaosenha">
          <label for="float-input">Alterar a senha?</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.select">
          <label for="float-input">Select</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Status">
          <label for="float-input">Status Atual</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Motivo">
          <label for="float-input">Motivo</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Data">
          <label for="float-input">Data</label>
        </span>
      </div>
    </div>
    <div class="p-col-6">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Expiracao">
          <label for="float-input">Expiração</label>
        </span>
      </div>
    </div>
    <div class="p-col-12">
      <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" disabled="true" pInputText [(ngModel)]="editarSrv.objetosTela.id">
          <label for="float-input">Id</label>
        </span>
      </div>
    </div>
  </div>
  <p-footer>
    <div>
      <button type="button" class="btn onsBtn btn-link" (click)="voltar()">Cancelar</button>
      <button type="button" class="btn onsBtn btn-link" (click)="salvar()">Salvar</button>
    </div>
  </p-footer>
</p-dialog>

<!-- Parte da Rota -->

<div style="padding:10px" *ngIf="editarSrv.displayRota">
  <p-panel>
    <p-header class="headerRota" style="display: flex;align-items: center;">
      <span>
        <h5>
          {{editarSrv.titulo}}
        </h5>
      </span>
    </p-header>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Nome">
            <label for="float-input">Nome do Usuario</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.descricao">
            <label for="float-input">Descrição</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_GrupoInterno">
            <label for="float-input">Grupo Interno</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Email">
            <label for="float-input">Email do Grupo</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_Origem">
            <label for="float-input">Origem do Grupo</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.grupo_DataCadastro">
            <label for="float-input">Data de Cadastro</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.politicasenha_Politicasenha">
            <label for="float-input">Politica de Senha</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.politicasenha_Alteracaosenha">
            <label for="float-input">Alterar a senha?</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.select">
            <label for="float-input">Select</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Status">
            <label for="float-input">Status Atual</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Motivo">
            <label for="float-input">Motivo</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Data">
            <label for="float-input">Data</label>
          </span>
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="editarSrv.objetosTela.status_Expiracao">
            <label for="float-input">Expiração</label>
          </span>
        </div>
      </div>
      <div class="p-col-12">
        <div class="ui-fluid div-pesquisa-avancada" style="height: 2em;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" disabled="true" pInputText [(ngModel)]="editarSrv.objetosTela.id">
            <label for="float-input">Id</label>
          </span>
        </div>
      </div>
    </div>
    <p-footer>
      <div>
        <button type="button" class="btn onsBtn btn-link" (click)="voltar()">Cancelar</button>
        <button type="button" class="btn onsBtn btn-link" (click)="salvar()">Salvar</button>
      </div>
    </p-footer>
  </p-panel>
</div>