.headerRota {
  display: flex;
  align-items: center;

  span {
    font-weight: 400;
    font-size: 10px;
    color: #5889D9
  }
}



::ng-deep .ui-panel .ui-panel-footer {
  border-width: 1px 0 0 !important;
  padding: .25em .5em !important;
  text-align: right !important;
  background: #ecf0fb !important;
  border-top: 9px solid #5889D7 !important;
  -moz-border-radius-bottom-left: 0 !important;
  border-bottom-left-radius: 10px !important;
  -moz-border-radius-bottom-right: 0 !important;
  border-bottom-right-radius: 10px !important;
}
